click==6.7
colorama==0.3.9
Flask==0.12.2
Flask-SQLAlchemy==2.3.1
Flask-Testing==0.6.2
gunicorn==19.8.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.14.2
olefile==0.44
pandas==0.22.0
Pillow==4.3.0
py==1.4.34
pytest==3.2.3
selenium==3.6.0
scikit-learn==0.19.1
scipy==1.0.1
sklearn==0.0
SQLAlchemy==1.1.14
Werkzeug==0.14.1
