<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Warning of possible flight delay</title>
		<style>
            *
            {
                font-family: Arial;
            }
			h1, form
			{
				text-align: center;
			}
			p
			{
				width: 75%;
				margin: auto;
				margin-bottom:50px;
			}
			.imageflottante
			{
				float: left;
				margin-right:10px;
				margin-bottom:10px;
				margin-top:5px;
			}
        </style>
    </head>
	
	<body>
<h1>Warning of possible flight delay</h1>

<p>
	<img src="http://s1.lprs1.fr/images/2018/01/05/7484904_e93714c2-f21d-11e7-9a2e-ab4738a86629-1_1000x625.jpg" class="imageflottante" align ="center" width="300" alt=" " title="Airbus"/>
	Your flight on {{date}} with {{compagnie}} company is likely to be delayed by {{delai}} minutes, the scheduled arrival time is {{heure}}.<br />
</p>

	<p>
		<a href = "https://projet4-marine.herokuapp.com/">Back to home</a>
	</p>

  
    </body>
</html>
